<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica Python</title>
</head>
<body>
    <h1>Prueba</h1>
    <p>Mi nombre es {{nombre}}</p><br>
    <p> Mi apellido es {{apellido}}</p>
    Los hermanos son:<br>
    {% for hermano in Hermano %}
        <br>Nombre: {{Hermano.nombre}}
        <br>Apellido: {{Hermano.apellido}}
        <br>Edad: {{Hermano.edad}}
        <br>Cumpleaños: {{Hermano.cumpleaños}}
    {% endfor %}
    Los Padres son:<br>
    {% for hermano in Hermano %}
        <br>Nombre: {{Padres.nombre}}
        <br>Apellido: {{Padres.apellido}}
        <br>Edad: {{Padres.edad}}
        <br>Cumpleaños: {{Padres.cumpleaños}}
    {% endfor %}
</body>
</html>